* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(#3b82f6, #4a7dff);
}

#container {
    background-color: #f0f8ff;
    border-radius: 20px;
    padding: 18px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}

#search {
    display: flex;
    align-items: center;
    gap: 8px;
    border-radius: 10px;
    border: 1px solid #bdbdbd;
    padding: 4px 12px;
}

#search input {
    border: none;
    background-color: transparent;
    font-size: 16px;
    width: 100%;

}

#search input:focus {
    outline: none;
}

#search button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

#weather {
    margin-top: 20px;
    display: none;
}

#weather.show {
    display: block;
}

#weather #title {
    text-align: center;
    margin-bottom: 5px;
    font-weight: 600;
    color: #372f3f;
}

#temp {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
    background: linear-gradient(90deg, #5a7cdc, #606dde);
    border-radius: 20px;
    padding: 20px;
    color: #fff;
}

#temp_img {
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.2));
}

#temp_value {
    font-size: 50px;
    font-weight: bold;
    line-height: 55px
}

#temp_description {
    font-weight: 500;
    text-transform: capitalize;
}

#other_infos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 30px;
    gap: 12px;
}

#other_infos .info {
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 4px 10px;
    border-radius: 8px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    gap: 10px;

}

#other_infos .info h2 {
    font-size: 12px;
    font-weight: 500;
}

#other_infos .info i {
    font-size: 20px;
    width: 10%;
    text-align: center;
}

#temp_max_icon {
    color: #7f1d1d;
}

#temp_min_icon {
    color: #0284c7;
}

#humidity_icon {
    color: #0ea5e9;
}
#wind_icon {
    color: #7c3aed;
}

#error {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#error img{
    width: 200px;
    margin-top: 20px;
}



